<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Coin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,260},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Coin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,260},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Coin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,518},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Coin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,518},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1968},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Smoke0.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,518},{54,56}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,150},{54,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,518},{54,56}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,150},{54,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke10.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1628},{150,144}}</string>
                <key>offset</key>
                <string>{2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,103},{150,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke11.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1486},{156,150}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,99},{156,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke12.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1468},{164,158}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,94},{164,158}}</string>
                <key>sourceSize</key>
                <string>{258,256}</string>
            </dict>
            <key>Smoke13.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1322},{168,162}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,91},{168,162}}</string>
                <key>sourceSize</key>
                <string>{254,256}</string>
            </dict>
            <key>Smoke14.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1298},{174,168}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,86},{174,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke15.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1148},{178,172}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,82},{178,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke16.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1850},{182,176}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,78},{182,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke17.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,776},{186,178}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,75},{186,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke18.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,964},{190,182}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,70},{190,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke19.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,962},{194,184}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,66},{194,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1572},{74,76}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,139},{74,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke20.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,966},{196,186}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,62},{196,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke21.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,776},{196,188}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,57},{196,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{200,190}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,52},{200,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{200,192}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,46},{200,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{200,192}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,41},{200,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{200,190}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,37},{200,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1836},{200,188}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,32},{200,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke27.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,776},{200,184}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,27},{200,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke28.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1154},{196,180}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,23},{196,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke29.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1336},{194,176}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,17},{194,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke3.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1486},{84,86}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,133},{84,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke30.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1514},{192,170}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,12},{192,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke31.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1686},{188,162}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{188,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke32.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1148},{184,148}}</string>
                <key>offset</key>
                <string>{6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,10},{184,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke33.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1774},{150,120}}</string>
                <key>offset</key>
                <string>{21,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,3},{150,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke34.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1778},{138,80}}</string>
                <key>offset</key>
                <string>{25,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,29},{138,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke35.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1968},{66,72}}</string>
                <key>offset</key>
                <string>{-8,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,23},{66,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke4.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1648},{96,96}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,128},{96,96}}</string>
                <key>sourceSize</key>
                <string>{258,256}</string>
            </dict>
            <key>Smoke5.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1860},{106,106}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,123},{106,106}}</string>
                <key>sourceSize</key>
                <string>{254,256}</string>
            </dict>
            <key>Smoke6.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1904},{116,114}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,120},{116,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke7.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1778},{126,124}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,114},{126,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke8.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1896},{134,132}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,110},{134,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Smoke9.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1638},{142,138}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,107},{142,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>WoodSpike.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,512}}</string>
                <key>sourceSize</key>
                <string>{250,512}</string>
            </dict>
            <key>YellowBird0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{254,194}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{254,194}}</string>
                <key>sourceSize</key>
                <string>{256,226}</string>
            </dict>
            <key>YellowBird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{254,222}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{254,222}}</string>
                <key>sourceSize</key>
                <string>{256,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{804,2039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30efe43433b8e828109b2d20b48a92c9:7c19bf2aaa308c231912739c08f5ded1:8684b26ac1d65db257a92f60bb99589d$</string>
            <key>textureFileName</key>
            <string>Sprites-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
