<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Coin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Coin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Coin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Coin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1159},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Smoke0.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,943},{28,28}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,75},{28,28}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,943},{28,28}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,75},{28,28}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke10.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,348},{76,74}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,50},{76,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke11.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,270},{78,76}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,49},{78,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke12.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,185},{83,80}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,46},{83,80}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>Smoke13.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,98},{85,82}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,45},{85,82}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>Smoke14.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1069},{88,84}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,43},{88,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1918},{90,86}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,41},{90,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke16.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1918},{92,88}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{92,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1826},{94,90}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,37},{94,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke18.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1730},{96,92}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{96,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1732},{96,92}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,33},{96,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,993},{36,38}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,70},{36,38}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1546},{98,94}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{98,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1252},{100,96}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{100,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke22.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1252},{100,96}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{100,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{100,96}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{100,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke24.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1350},{100,96}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{100,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{100,96}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{100,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke26.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1448},{100,94}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{100,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke27.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1544},{100,92}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{100,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke28.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1638},{98,90}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{98,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{98,88}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{98,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,993},{44,44}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,66},{44,44}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke30.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1824},{96,86}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{96,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke31.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{94,82}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{94,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke32.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,488},{92,74}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{92,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke33.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,424},{76,62}}</string>
                <key>offset</key>
                <string>{10,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{76,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke34.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,654},{70,40}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,15},{70,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke35.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1033},{34,36}}</string>
                <key>offset</key>
                <string>{-4,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,12},{34,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,943},{49,48}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,64},{49,48}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>Smoke5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,888},{53,54}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,61},{53,54}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>Smoke6.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,828},{58,58}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,59},{58,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,764},{64,62}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,57},{64,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,696},{68,66}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,55},{68,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Smoke9.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,582},{72,70}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,53},{72,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>WoodSpike.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{125,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,256}}</string>
                <key>sourceSize</key>
                <string>{125,256}</string>
            </dict>
            <key>YellowBird0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,895},{128,97}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,97}}</string>
                <key>sourceSize</key>
                <string>{128,113}</string>
            </dict>
            <key>YellowBird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{128,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,111}}</string>
                <key>sourceSize</key>
                <string>{128,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{216,2010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30efe43433b8e828109b2d20b48a92c9:7c19bf2aaa308c231912739c08f5ded1:8684b26ac1d65db257a92f60bb99589d$</string>
            <key>textureFileName</key>
            <string>Sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
